{
    "openapi": "3.0.1",
    "info": {
        "title": "Discounts",
        "description": "",
        "version": "v3",
        "x-hubspot-product-tier-requirements": {
            "marketing": "FREE",
            "sales": "FREE",
            "service": "FREE",
            "cms": "FREE"
        },
        "x-hubspot-documentation-banner": "NONE",
        "x-hubspot-api-use-case": "You want to create a 5% first time buyer discount for quotes that you send to new customers.",
        "x-hubspot-related-documentation": [
            {
                "name": "Discounts Guide",
                "url": "https://developers.hubspot.com/beta-docs/guides/api/crm/commerce/discounts"
            }
        ],
        "x-hubspot-introduction": "Use the discounts API to create and manage discounts that can be included in quotes."
    },
    "servers": [
        {
            "url": "https://api.hubapi.com/crm/v3/objects/discounts"
        }
    ],
    "tags": [
        {
            "name": "Batch"
        },
        {
            "name": "Basic"
        },
        {
            "name": "Search"
        }
    ],
    "paths": {
        "/batch/read": {
            "post": {
                "tags": [
                    "Batch"
                ],
                "summary": "Read a batch of discounts by internal ID, or unique property values",
                "operationId": "post-/crm/v3/objects/discounts/batch/read",
                "parameters": [
                    {
                        "name": "archived",
                        "in": "query",
                        "description": "Whether to return only results that have been archived",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchReadInputSimplePublicObjectId"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseSimplePublicObject"
                                }
                            }
                        }
                    },
                    "207": {
                        "description": "multiple statuses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseSimplePublicObjectWithErrors"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2_legacy": [
                            "e-commerce"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.line_items.read"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "e-commerce"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.line_items.read"
                        ]
                    }
                ],
                "description": "Returns a collection of discount objects matching the specified IDs or property values"
            }
        },
        "/{discountId}": {
            "get": {
                "tags": [
                    "Basic"
                ],
                "summary": "Read",
                "description": "Read an Object identified by `{discountId}`. `{discountId}` refers to the internal object ID by default, or optionally any unique property value as specified by the `idProperty` query param.  Control what is returned via the `properties` query param.",
                "operationId": "get-/crm/v3/objects/discounts/{discountId}",
                "parameters": [
                    {
                        "name": "discountId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "properties",
                        "in": "query",
                        "description": "A comma separated list of the properties to be returned in the response. If any of the specified properties are not present on the requested object(s), they will be ignored",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "propertiesWithHistory",
                        "in": "query",
                        "description": "A comma separated list of the properties to be returned along with their history of previous values. If any of the specified properties are not present on the requested object(s), they will be ignored",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "associations",
                        "in": "query",
                        "description": "A comma separated list of object types to retrieve associated IDs for. If any of the specified associations do not exist, they will be ignored",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "archived",
                        "in": "query",
                        "description": "Whether to return only results that have been archived",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "name": "idProperty",
                        "in": "query",
                        "description": "The name of a property whose values are unique for this object type",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SimplePublicObjectWithAssociations"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2_legacy": [
                            "e-commerce"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.line_items.read"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "e-commerce"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.line_items.read"
                        ]
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Basic"
                ],
                "summary": "Archive",
                "description": "Move an Object identified by `{discountId}` to the recycling bin.",
                "operationId": "delete-/crm/v3/objects/discounts/{discountId}",
                "parameters": [
                    {
                        "name": "discountId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2_legacy": [
                            "e-commerce"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.line_items.write"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "e-commerce"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.line_items.write"
                        ]
                    }
                ]
            },
            "patch": {
                "tags": [
                    "Basic"
                ],
                "summary": "Update",
                "description": "Perform a partial update of an Object identified by `{discountId}`. `{discountId}` refers to the internal object ID by default, or optionally any unique property value as specified by the `idProperty` query param. Provided property values will be overwritten. Read-only and non-existent properties will be ignored. Properties values can be cleared by passing an empty string.",
                "operationId": "patch-/crm/v3/objects/discounts/{discountId}",
                "parameters": [
                    {
                        "name": "discountId",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "idProperty",
                        "in": "query",
                        "description": "The name of a property whose values are unique for this object type",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SimplePublicObjectInput"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SimplePublicObject"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2_legacy": [
                            "e-commerce"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.line_items.write"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "e-commerce"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.line_items.write"
                        ]
                    }
                ]
            }
        },
        "/batch/archive": {
            "post": {
                "tags": [
                    "Batch"
                ],
                "summary": "Archive a batch of discounts by ID",
                "operationId": "post-/crm/v3/objects/discounts/batch/archive",
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchInputSimplePublicObjectId"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2_legacy": [
                            "e-commerce"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.line_items.write"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "e-commerce"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.line_items.write"
                        ]
                    }
                ],
                "description": "Returns confirmation of successful archival for the specified discount objects"
            }
        },
        "/batch/create": {
            "post": {
                "tags": [
                    "Batch"
                ],
                "summary": "Create a batch of discounts",
                "operationId": "post-/crm/v3/objects/discounts/batch/create",
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchInputSimplePublicObjectInputForCreate"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseSimplePublicObject"
                                }
                            }
                        }
                    },
                    "207": {
                        "description": "multiple statuses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseSimplePublicObjectWithErrors"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2_legacy": [
                            "e-commerce"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.line_items.write"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "e-commerce"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.line_items.write"
                        ]
                    }
                ],
                "description": "Returns the newly created discount objects with their assigned IDs and properties"
            }
        },
        "/batch/update": {
            "post": {
                "tags": [
                    "Batch"
                ],
                "summary": "Update a batch of discounts",
                "operationId": "post-/crm/v3/objects/discounts/batch/update",
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchInputSimplePublicObjectBatchInput"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseSimplePublicObject"
                                }
                            }
                        }
                    },
                    "207": {
                        "description": "multiple statuses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseSimplePublicObjectWithErrors"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2_legacy": [
                            "e-commerce"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.line_items.write"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "e-commerce"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.line_items.write"
                        ]
                    }
                ],
                "description": "Returns the results of updating multiple discount objects, including success status and any errors encountered."
            }
        },
        "/": {
            "get": {
                "tags": [
                    "Basic"
                ],
                "summary": "List",
                "description": "Read a page of discounts. Control what is returned via the `properties` query param.",
                "operationId": "get-/crm/v3/objects/discounts",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The maximum number of results to display per page",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 10
                        }
                    },
                    {
                        "name": "after",
                        "in": "query",
                        "description": "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "properties",
                        "in": "query",
                        "description": "A comma separated list of the properties to be returned in the response. If any of the specified properties are not present on the requested object(s), they will be ignored",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "propertiesWithHistory",
                        "in": "query",
                        "description": "A comma separated list of the properties to be returned along with their history of previous values. If any of the specified properties are not present on the requested object(s), they will be ignored. Usage of this parameter will reduce the maximum number of objects that can be read by a single request",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "associations",
                        "in": "query",
                        "description": "A comma separated list of object types to retrieve associated IDs for. If any of the specified associations do not exist, they will be ignored",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "archived",
                        "in": "query",
                        "description": "Whether to return only results that have been archived",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CollectionResponseSimplePublicObjectWithAssociationsForwardPaging"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2_legacy": [
                            "e-commerce"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.line_items.read"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "e-commerce"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.line_items.read"
                        ]
                    }
                ]
            },
            "post": {
                "tags": [
                    "Basic"
                ],
                "summary": "Create",
                "description": "Create a discount with the given properties and return a copy of the object, including the ID. Documentation and examples for creating standard discounts is provided.",
                "operationId": "post-/crm/v3/objects/discounts",
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SimplePublicObjectInputForCreate"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SimplePublicObject"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2_legacy": [
                            "e-commerce"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.line_items.write"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "e-commerce"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.line_items.write"
                        ]
                    }
                ]
            }
        },
        "/batch/upsert": {
            "post": {
                "tags": [
                    "Batch"
                ],
                "summary": "Create or update a batch of discounts by unique property values",
                "operationId": "post-/crm/v3/objects/discounts/batch/upsert",
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchInputSimplePublicObjectBatchInputUpsert"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseSimplePublicUpsertObject"
                                }
                            }
                        }
                    },
                    "207": {
                        "description": "multiple statuses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponseSimplePublicUpsertObjectWithErrors"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2_legacy": [
                            "e-commerce"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.line_items.write"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "e-commerce"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.line_items.write"
                        ]
                    }
                ],
                "description": "Returns the results of creating or updating multiple discount objects by unique property values."
            }
        },
        "/search": {
            "post": {
                "tags": [
                    "Search"
                ],
                "operationId": "post-/crm/v3/objects/discounts/search",
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PublicObjectSearchRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CollectionResponseWithTotalSimplePublicObjectForwardPaging"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "oauth2_legacy": [
                            "e-commerce"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.line_items.read"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "e-commerce"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.line_items.read"
                        ]
                    }
                ],
                "x-hubspot-rate-limit-exemptions": [
                    "ten-secondly"
                ],
                "description": "Returns a collection of discount objects matching the specified search criteria and filters."
            }
        }
    },
    "components": {
        "schemas": {
            "StandardError": {
                "required": [
                    "category",
                    "context",
                    "errors",
                    "links",
                    "message",
                    "status"
                ],
                "type": "object",
                "properties": {
                    "subCategory": {
                        "type": "object",
                        "properties": {},
                        "description": "Sub-category classification for the error"
                    },
                    "context": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "description": "Additional context information for the error"
                    },
                    "links": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "Related links for error resolution or documentation"
                    },
                    "id": {
                        "type": "string",
                        "description": "Unique identifier for the error instance"
                    },
                    "category": {
                        "type": "string",
                        "description": "Primary category classification of the error"
                    },
                    "message": {
                        "type": "string",
                        "description": "Human-readable error message describing the issue"
                    },
                    "errors": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ErrorDetail"
                        },
                        "description": "Array of detailed error information"
                    },
                    "status": {
                        "type": "string",
                        "description": "HTTP status code or error status indicator"
                    }
                },
                "description": "Standard error response schema containing error details and context"
            },
            "CollectionResponseAssociatedId": {
                "required": [
                    "results"
                ],
                "type": "object",
                "properties": {
                    "paging": {
                        "$ref": "#/components/schemas/Paging",
                        "description": "Pagination information for the collection response"
                    },
                    "results": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/AssociatedId"
                        },
                        "description": "Array of associated ID objects in the response"
                    }
                },
                "description": "Collection response containing associated ID results with pagination"
            },
            "PublicAssociationsForObject": {
                "required": [
                    "to",
                    "types"
                ],
                "type": "object",
                "properties": {
                    "types": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/AssociationSpec"
                        },
                        "description": "Array of association type specifications"
                    },
                    "to": {
                        "$ref": "#/components/schemas/PublicObjectId",
                        "description": "Target object identifier for the association"
                    }
                },
                "description": "Public associations configuration for an object"
            },
            "BatchResponseSimplePublicObject": {
                "required": [
                    "completedAt",
                    "results",
                    "startedAt",
                    "status"
                ],
                "type": "object",
                "properties": {
                    "completedAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Timestamp when the batch operation completed"
                    },
                    "requestedAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Timestamp when the batch operation was requested"
                    },
                    "startedAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Timestamp when the batch operation started processing"
                    },
                    "links": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "Related links for the batch operation response"
                    },
                    "results": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SimplePublicObject"
                        },
                        "description": "Array of discount objects returned from the batch operation"
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "PENDING",
                            "PROCESSING",
                            "CANCELED",
                            "COMPLETE"
                        ],
                        "description": "Current processing status of the batch operation"
                    }
                },
                "description": "Batch operation response containing simple public objects and status"
            },
            "FilterGroup": {
                "required": [
                    "filters"
                ],
                "type": "object",
                "properties": {
                    "filters": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Filter"
                        },
                        "description": "Array of filter conditions to apply to the query"
                    }
                },
                "description": "Container for grouping multiple filters with logical relationships"
            },
            "ErrorDetail": {
                "required": [
                    "message"
                ],
                "type": "object",
                "properties": {
                    "subCategory": {
                        "type": "string",
                        "description": "A specific category that contains more specific detail about the error"
                    },
                    "code": {
                        "type": "string",
                        "description": "The status code associated with the error detail"
                    },
                    "in": {
                        "type": "string",
                        "description": "The name of the field or parameter in which the error was found"
                    },
                    "context": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "description": "Context about the error condition",
                        "example": {
                            "missingScopes": [
                                "scope1",
                                "scope2"
                            ]
                        }
                    },
                    "message": {
                        "type": "string",
                        "description": "A human readable message describing the error along with remediation steps where appropriate"
                    }
                },
                "description": "Detailed error information including message and context"
            },
            "ForwardPaging": {
                "type": "object",
                "properties": {
                    "next": {
                        "$ref": "#/components/schemas/NextPage",
                        "description": "Information about the next page of results"
                    }
                },
                "description": "Pagination information for navigating to subsequent pages"
            },
            "SimplePublicObjectId": {
                "required": [
                    "id"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "Unique identifier for the discount object"
                    }
                },
                "description": "Simple object containing only an identifier"
            },
            "BatchResponseSimplePublicUpsertObjectWithErrors": {
                "required": [
                    "completedAt",
                    "results",
                    "startedAt",
                    "status"
                ],
                "type": "object",
                "properties": {
                    "completedAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Timestamp when the batch operation completed"
                    },
                    "numErrors": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Total number of errors encountered during batch processing"
                    },
                    "requestedAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Timestamp when the batch operation was requested"
                    },
                    "startedAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Timestamp when the batch operation started processing"
                    },
                    "links": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "Additional links related to the batch operation"
                    },
                    "results": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SimplePublicUpsertObject"
                        },
                        "description": "Array of successfully upserted discount objects"
                    },
                    "errors": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/StandardError"
                        },
                        "description": "Array of errors encountered during batch processing"
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "PENDING",
                            "PROCESSING",
                            "CANCELED",
                            "COMPLETE"
                        ],
                        "description": "Current processing status of the batch upsert operation"
                    }
                },
                "description": "Response containing upserted discount objects and any processing errors"
            },
            "BatchReadInputSimplePublicObjectId": {
                "required": [
                    "inputs",
                    "properties",
                    "propertiesWithHistory"
                ],
                "type": "object",
                "properties": {
                    "propertiesWithHistory": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "Properties to include with their historical value changes"
                    },
                    "idProperty": {
                        "type": "string",
                        "description": "The property name to use as the unique identifier for objects"
                    },
                    "inputs": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SimplePublicObjectId"
                        },
                        "description": "Array of object identifiers to read in the batch operation"
                    },
                    "properties": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "List of property names to retrieve for each object"
                    }
                },
                "description": "Input specification for batch reading discount objects by ID"
            },
            "BatchResponseSimplePublicUpsertObject": {
                "required": [
                    "completedAt",
                    "results",
                    "startedAt",
                    "status"
                ],
                "type": "object",
                "properties": {
                    "completedAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Timestamp when the batch operation was completed"
                    },
                    "requestedAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Timestamp when the batch operation was requested"
                    },
                    "startedAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Timestamp when the batch operation started processing"
                    },
                    "links": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "Additional links related to the batch operation"
                    },
                    "results": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SimplePublicUpsertObject"
                        },
                        "description": "Array of upserted objects returned from the batch operation"
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "PENDING",
                            "PROCESSING",
                            "CANCELED",
                            "COMPLETE"
                        ],
                        "description": "Current status of the batch operation"
                    }
                },
                "description": "Response object containing batch upsert operation results and metadata"
            },
            "BatchInputSimplePublicObjectId": {
                "required": [
                    "inputs"
                ],
                "type": "object",
                "properties": {
                    "inputs": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SimplePublicObjectId"
                        },
                        "description": "Array of object identifiers for the batch operation"
                    }
                },
                "description": "Input object for batch operations using object identifiers"
            },
            "ValueWithTimestamp": {
                "required": [
                    "sourceType",
                    "timestamp",
                    "value"
                ],
                "type": "object",
                "properties": {
                    "sourceId": {
                        "type": "string",
                        "description": "Identifier of the source that provided this value"
                    },
                    "sourceType": {
                        "type": "string",
                        "description": "Type of source that provided this value"
                    },
                    "sourceLabel": {
                        "type": "string",
                        "description": "Human-readable label for the source that provided this value"
                    },
                    "updatedByUserId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "ID of the user who last updated this value"
                    },
                    "value": {
                        "type": "string",
                        "description": "The actual property value"
                    },
                    "timestamp": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Timestamp when this value was last updated"
                    }
                },
                "description": "Property value with associated timestamp and source information"
            },
            "BatchInputSimplePublicObjectBatchInputUpsert": {
                "required": [
                    "inputs"
                ],
                "type": "object",
                "properties": {
                    "inputs": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SimplePublicObjectBatchInputUpsert"
                        },
                        "description": "Array of discount objects to be created or updated in the batch operation"
                    }
                },
                "description": "Input object for batch upsert operations"
            },
            "CollectionResponseWithTotalSimplePublicObjectForwardPaging": {
                "required": [
                    "results",
                    "total"
                ],
                "type": "object",
                "properties": {
                    "total": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Total number of discount records available across all pages"
                    },
                    "paging": {
                        "$ref": "#/components/schemas/ForwardPaging",
                        "description": "Pagination information for navigating through discount result sets"
                    },
                    "results": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SimplePublicObject"
                        },
                        "description": "Array of discount objects returned in the current page of results"
                    }
                },
                "description": "Response containing discount results with total count and pagination support"
            },
            "SimplePublicObject": {
                "required": [
                    "createdAt",
                    "id",
                    "properties",
                    "updatedAt"
                ],
                "type": "object",
                "properties": {
                    "createdAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Date and time when the discount was created"
                    },
                    "archived": {
                        "type": "boolean",
                        "example": false,
                        "description": "Indicates whether the discount has been archived"
                    },
                    "archivedAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Date and time when the discount was archived"
                    },
                    "propertiesWithHistory": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/ValueWithTimestamp"
                            }
                        },
                        "description": "Discount properties with their historical values and timestamps"
                    },
                    "id": {
                        "type": "string",
                        "example": "512",
                        "description": "Unique identifier for the discount"
                    },
                    "properties": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string",
                            "nullable": true
                        },
                        "example": {
                            "property_date": "1572480000000",
                            "property_radio": "option_1",
                            "property_number": "17",
                            "property_string": "value",
                            "property_checkbox": "false",
                            "property_dropdown": "choice_b",
                            "property_multiple_checkboxes": "chocolate;strawberry"
                        },
                        "description": "Key-value pairs containing discount-specific property values"
                    },
                    "updatedAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Date and time when the discount was last modified"
                    }
                },
                "example": {
                    "id": "512",
                    "properties": {
                        "createdate": "2019-10-30T03:30:17.883Z",
                        "hs_duration": "ONCE",
                        "hs_label": "A fixed, one-time discount",
                        "hs_lastmodifieddate": "2019-12-07T16:50:06.678Z",
                        "hs_sort_order": "2",
                        "hs_timestamp": "2019-10-30T03:30:17.883Z",
                        "hs_type": "PERCENT",
                        "hs_value": "50"
                    },
                    "createdAt": "2019-10-30T03:30:17.883Z",
                    "updatedAt": "2019-12-07T16:50:06.678Z",
                    "archived": false
                },
                "description": "Discount object containing properties, timestamps, and archival status"
            },
            "PublicObjectId": {
                "required": [
                    "id"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "Unique identifier string for the discount object"
                    }
                },
                "description": "Object containing a unique identifier for referencing a discount"
            },
            "Paging": {
                "type": "object",
                "properties": {
                    "next": {
                        "$ref": "#/components/schemas/NextPage",
                        "description": "Information for retrieving the next page of discount results"
                    },
                    "prev": {
                        "$ref": "#/components/schemas/PreviousPage",
                        "description": "Information for retrieving the previous page of discount results"
                    }
                },
                "description": "Pagination controls for navigating between result pages"
            },
            "PublicObjectSearchRequest": {
                "type": "object",
                "properties": {
                    "query": {
                        "type": "string",
                        "description": "Search term to filter discount records"
                    },
                    "limit": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Maximum number of discount objects to return in the response"
                    },
                    "after": {
                        "type": "string",
                        "description": "Pagination cursor token to retrieve the next set of results"
                    },
                    "sorts": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "Array of sort criteria to order the discount search results"
                    },
                    "properties": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "Array of discount property names to include in the response"
                    },
                    "filterGroups": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/FilterGroup"
                        },
                        "description": "Array of filter groups to narrow down discount search results"
                    }
                },
                "description": "Search criteria and parameters for querying discount records"
            },
            "Error": {
                "required": [
                    "category",
                    "correlationId",
                    "message"
                ],
                "type": "object",
                "properties": {
                    "subCategory": {
                        "type": "string",
                        "description": "A specific category that contains more specific detail about the error"
                    },
                    "context": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "description": "Context about the error condition",
                        "example": {
                            "missingScopes": [
                                "scope1",
                                "scope2"
                            ],
                            "invalidPropertyName": [
                                "propertyValue"
                            ]
                        }
                    },
                    "correlationId": {
                        "type": "string",
                        "description": "A unique identifier for the request. Include this value with any error reports or support tickets",
                        "format": "uuid",
                        "example": "aeb5f871-7f07-4993-9211-075dc63e7cbf"
                    },
                    "links": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "A map of link names to associated URIs containing documentation about the error or recommended remediation steps",
                        "example": {
                            "knowledge-base": "https://www.hubspot.com/products/service/knowledge-base"
                        }
                    },
                    "message": {
                        "type": "string",
                        "description": "A human readable message describing the error along with remediation steps where appropriate",
                        "example": "Invalid input (details will vary based on the error)"
                    },
                    "category": {
                        "type": "string",
                        "description": "The error category",
                        "example": "VALIDATION_ERROR"
                    },
                    "errors": {
                        "type": "array",
                        "description": "further information about the error",
                        "items": {
                            "$ref": "#/components/schemas/ErrorDetail"
                        }
                    }
                },
                "example": {
                    "message": "Invalid input (details will vary based on the error)",
                    "correlationId": "aeb5f871-7f07-4993-9211-075dc63e7cbf",
                    "category": "VALIDATION_ERROR",
                    "links": {
                        "knowledge-base": "https://www.hubspot.com/products/service/knowledge-base"
                    }
                },
                "description": "Standard error response containing error details and correlation information"
            },
            "SimplePublicObjectBatchInputUpsert": {
                "required": [
                    "id",
                    "properties"
                ],
                "type": "object",
                "properties": {
                    "idProperty": {
                        "type": "string",
                        "description": "Property name to use as the unique identifier for the discount object"
                    },
                    "objectWriteTraceId": {
                        "type": "string",
                        "description": "Trace identifier for tracking the discount object write operation"
                    },
                    "id": {
                        "type": "string",
                        "description": "Unique identifier value for the discount object"
                    },
                    "properties": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "Key-value pairs of discount properties to create or update"
                    }
                },
                "description": "Input object for creating or updating discount records in batch operations"
            },
            "BatchResponseSimplePublicObjectWithErrors": {
                "required": [
                    "completedAt",
                    "results",
                    "startedAt",
                    "status"
                ],
                "type": "object",
                "properties": {
                    "completedAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Timestamp when the batch operation finished processing"
                    },
                    "numErrors": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Total number of errors encountered during batch processing"
                    },
                    "requestedAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Timestamp when the batch operation was initially requested"
                    },
                    "startedAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Timestamp when the batch operation began processing"
                    },
                    "links": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "Map of related resource links for the batch operation response"
                    },
                    "results": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SimplePublicObject"
                        },
                        "description": "Array of successfully processed discount objects from the batch operation"
                    },
                    "errors": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/StandardError"
                        },
                        "description": "Array of errors encountered during batch processing of discount objects"
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "PENDING",
                            "PROCESSING",
                            "CANCELED",
                            "COMPLETE"
                        ],
                        "description": "Current processing status of the batch operation"
                    }
                },
                "description": "Batch operation response containing processed discount objects and any errors"
            },
            "SimplePublicObjectInput": {
                "required": [
                    "properties"
                ],
                "type": "object",
                "properties": {
                    "objectWriteTraceId": {
                        "type": "string",
                        "description": "Optional trace identifier for tracking object write operations"
                    },
                    "properties": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "example": {
                            "property_date": "1572480000000",
                            "property_radio": "option_1",
                            "property_number": "17",
                            "property_string": "value",
                            "property_checkbox": "false",
                            "property_dropdown": "choice_b",
                            "property_multiple_checkboxes": "chocolate;strawberry"
                        },
                        "description": "Key-value pairs containing discount properties and their values"
                    }
                },
                "example": {
                    "properties": {
                        "hs_type": "PERCENT",
                        "hs_label": "A fixed, one-time discount",
                        "hs_value": "50",
                        "hs_duration": "ONCE",
                        "hs_timestamp": "2019-10-30T03:30:17.883Z",
                        "hs_sort_order": "2"
                    },
                    "associations": [
                        {
                            "to": {
                                "id": "101"
                            },
                            "types": [
                                {
                                    "associationCategory": "HUBSPOT_DEFINED",
                                    "associationTypeId": 2
                                }
                            ]
                        }
                    ]
                },
                "description": "Input schema for creating or updating discount objects with properties"
            },
            "CollectionResponseSimplePublicObjectWithAssociationsForwardPaging": {
                "required": [
                    "results"
                ],
                "type": "object",
                "properties": {
                    "paging": {
                        "$ref": "#/components/schemas/ForwardPaging",
                        "description": "Forward pagination information for navigating through result pages"
                    },
                    "results": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SimplePublicObjectWithAssociations"
                        },
                        "description": "Array of discount objects with their associated records"
                    }
                },
                "description": "Paginated collection response containing discount objects with associations"
            },
            "AssociationSpec": {
                "required": [
                    "associationCategory",
                    "associationTypeId"
                ],
                "type": "object",
                "properties": {
                    "associationCategory": {
                        "type": "string",
                        "enum": [
                            "HUBSPOT_DEFINED",
                            "USER_DEFINED",
                            "INTEGRATOR_DEFINED"
                        ],
                        "description": "Category defining the source of the association definition"
                    },
                    "associationTypeId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Numeric identifier specifying the type of association relationship"
                    }
                },
                "description": "Specification defining the type and category of object associations"
            },
            "SimplePublicObjectWithAssociations": {
                "required": [
                    "createdAt",
                    "id",
                    "properties",
                    "updatedAt"
                ],
                "type": "object",
                "properties": {
                    "associations": {
                        "type": "object",
                        "additionalProperties": {
                            "$ref": "#/components/schemas/CollectionResponseAssociatedId"
                        },
                        "description": "Map of associated objects grouped by association type"
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Timestamp when the discount object was created"
                    },
                    "archived": {
                        "type": "boolean",
                        "description": "Boolean indicating whether the discount object is archived"
                    },
                    "archivedAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Timestamp when the discount object was archived"
                    },
                    "propertiesWithHistory": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/ValueWithTimestamp"
                            }
                        },
                        "description": "Object properties with their historical values and timestamps"
                    },
                    "id": {
                        "type": "string",
                        "description": "Unique identifier for the discount object"
                    },
                    "properties": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string",
                            "nullable": true
                        },
                        "description": "Key-value pairs containing current discount property values"
                    },
                    "updatedAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Timestamp when the discount object was last modified"
                    }
                },
                "example": {
                    "properties": {
                        "createdate": "2019-10-30T03:30:17.883Z",
                        "hs_duration": "ONCE",
                        "hs_label": "A fixed, one-time discount",
                        "hs_lastmodifieddate": "2019-12-07T16:50:06.678Z",
                        "hs_sort_order": "2",
                        "hs_timestamp": "2019-10-30T03:30:17.883Z",
                        "hs_type": "PERCENT",
                        "hs_value": "50"
                    }
                },
                "description": "Discount object containing properties, metadata, and associated records"
            },
            "Filter": {
                "required": [
                    "operator",
                    "propertyName"
                ],
                "type": "object",
                "properties": {
                    "highValue": {
                        "type": "string",
                        "description": "Upper bound value for range-based filter operations"
                    },
                    "propertyName": {
                        "type": "string",
                        "description": "The name of the property to filter on"
                    },
                    "values": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "Array of string values to match against the property"
                    },
                    "value": {
                        "type": "string",
                        "description": "Single string value to match against the property"
                    },
                    "operator": {
                        "type": "string",
                        "description": "null",
                        "enum": [
                            "EQ",
                            "NEQ",
                            "LT",
                            "LTE",
                            "GT",
                            "GTE",
                            "BETWEEN",
                            "IN",
                            "NOT_IN",
                            "HAS_PROPERTY",
                            "NOT_HAS_PROPERTY",
                            "CONTAINS_TOKEN",
                            "NOT_CONTAINS_TOKEN"
                        ]
                    }
                },
                "description": "Filter criteria for querying discount objects by property values"
            },
            "BatchInputSimplePublicObjectBatchInput": {
                "required": [
                    "inputs"
                ],
                "type": "object",
                "properties": {
                    "inputs": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SimplePublicObjectBatchInput"
                        },
                        "description": "Array of discount objects to process in the batch operation"
                    }
                },
                "description": "Container for batch input operations on discount objects"
            },
            "BatchInputSimplePublicObjectInputForCreate": {
                "required": [
                    "inputs"
                ],
                "type": "object",
                "properties": {
                    "inputs": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SimplePublicObjectInputForCreate"
                        },
                        "description": "Array of discount objects to create in the batch operation"
                    }
                },
                "description": "Container for batch creation operations on discount objects"
            },
            "PreviousPage": {
                "required": [
                    "before"
                ],
                "type": "object",
                "properties": {
                    "before": {
                        "type": "string",
                        "description": "Cursor token for retrieving the previous page of results"
                    },
                    "link": {
                        "type": "string",
                        "description": "Direct URL link to the previous page of results"
                    }
                },
                "description": "Pagination information for navigating to the previous page of results"
            },
            "SimplePublicUpsertObject": {
                "required": [
                    "createdAt",
                    "id",
                    "new",
                    "properties",
                    "updatedAt"
                ],
                "type": "object",
                "properties": {
                    "createdAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Timestamp when the discount object was created"
                    },
                    "archived": {
                        "type": "boolean",
                        "description": "Whether the discount object is archived"
                    },
                    "archivedAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Timestamp when the discount object was archived"
                    },
                    "new": {
                        "type": "boolean",
                        "description": "Whether this discount object was newly created in the upsert operation"
                    },
                    "propertiesWithHistory": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
                                "$ref": "#/components/schemas/ValueWithTimestamp"
                            }
                        },
                        "description": "Discount properties with their historical values and timestamps"
                    },
                    "id": {
                        "type": "string",
                        "description": "Unique identifier for the discount object"
                    },
                    "properties": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "Key-value pairs of discount properties and their current values"
                    },
                    "updatedAt": {
                        "type": "string",
                        "format": "datetime",
                        "description": "Timestamp when the discount object was last updated"
                    }
                },
                "description": "Discount object returned from upsert operations with creation/update metadata"
            },
            "SimplePublicObjectBatchInput": {
                "required": [
                    "id",
                    "properties"
                ],
                "type": "object",
                "properties": {
                    "idProperty": {
                        "type": "string",
                        "example": "my_unique_property_name",
                        "description": "The name of the unique property to use for identifying the discount object"
                    },
                    "objectWriteTraceId": {
                        "type": "string",
                        "description": "Unique identifier for tracking the write operation on this discount object"
                    },
                    "id": {
                        "type": "string",
                        "description": "The unique identifier of the discount object"
                    },
                    "properties": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "Key-value pairs of discount properties to update or retrieve"
                    }
                },
                "example": {
                    "id": "1",
                    "properties": {
                        "hs_type": "PERCENT",
                        "hs_label": "A fixed, one-time discount",
                        "hs_value": "50",
                        "hs_duration": "ONCE",
                        "hs_timestamp": "2019-10-30T03:30:17.883Z",
                        "hs_sort_order": "2"
                    }
                },
                "description": "Input object for batch operations on discount objects"
            },
            "AssociatedId": {
                "required": [
                    "id",
                    "type"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "The unique identifier of the associated object"
                    },
                    "type": {
                        "type": "string",
                        "description": "The type or category of the associated object"
                    }
                },
                "description": "Represents an associated object with its unique identifier and type"
            },
            "NextPage": {
                "required": [
                    "after"
                ],
                "type": "object",
                "properties": {
                    "link": {
                        "type": "string",
                        "example": "?after=NTI1Cg%3D%3D",
                        "description": "The URL query parameter for fetching the next page of results"
                    },
                    "after": {
                        "type": "string",
                        "example": "NTI1Cg%3D%3D",
                        "description": "The cursor token used for pagination to get the next set of results"
                    }
                },
                "example": {
                    "after": "NTI1Cg%3D%3D",
                    "link": "?after=NTI1Cg%3D%3D"
                },
                "description": "Contains pagination information for retrieving the next set of results"
            },
            "SimplePublicObjectInputForCreate": {
                "required": [
                    "associations",
                    "properties"
                ],
                "type": "object",
                "properties": {
                    "associations": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PublicAssociationsForObject"
                        },
                        "description": "Array of objects to associate with the new discount"
                    },
                    "objectWriteTraceId": {
                        "type": "string",
                        "description": "Unique identifier for tracking the creation operation"
                    },
                    "properties": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "Key-value pairs defining the discount's properties and values"
                    }
                },
                "example": {
                    "properties": {
                        "hs_type": "PERCENT",
                        "hs_label": "A fixed, one-time discount",
                        "hs_value": "50",
                        "hs_duration": "ONCE",
                        "hs_timestamp": "2019-10-30T03:30:17.883Z",
                        "hs_sort_order": "2"
                    },
                    "associations": [
                        {
                            "to": {
                                "id": "101"
                            },
                            "types": [
                                {
                                    "associationCategory": "HUBSPOT_DEFINED",
                                    "associationTypeId": 2
                                }
                            ]
                        }
                    ]
                },
                "description": "Input schema for creating a new discount with properties and associations"
            }
        },
        "responses": {
            "Error": {
                "description": "An error occurred.",
                "content": {
                    "*/*": {
                        "schema": {
                            "$ref": "#/components/schemas/Error"
                        }
                    }
                }
            }
        },
        "securitySchemes": {
            "oauth2_legacy": {
                "type": "oauth2",
                "flows": {
                    "authorizationCode": {
                        "authorizationUrl": "https://app.hubspot.com/oauth/authorize",
                        "tokenUrl": "https://api.hubapi.com/oauth/v1/token",
                        "scopes": {
                            "crm.objects.goals.read": "Read goals",
                            "tickets": "Read and write tickets",
                            "crm.objects.custom.read": "View custom object records",
                            "e-commerce": "e-commerce",
                            "crm.objects.custom.write": "Change custom object records",
                            "media_bridge.read": "Read media and media events"
                        }
                    }
                }
            },
            "oauth2": {
                "type": "oauth2",
                "flows": {
                    "authorizationCode": {
                        "authorizationUrl": "https://app.hubspot.com/oauth/authorize",
                        "tokenUrl": "https://api.hubapi.com/oauth/v1/token",
                        "scopes": {
                            "crm.objects.companies.write": " ",
                            "crm.objects.contacts.write": " ",
                            "crm.objects.users.write": "Write User CRM objects",
                            "crm.objects.commercepayments.read": "Read the COMMERCE_PAYMENT object.",
                            "crm.objects.leads.write": "Modify lead objects",
                            "crm.objects.subscriptions.read": "Read Commerce Subscriptions",
                            "crm.objects.carts.read": "Read carts",
                            "crm.objects.orders.write": "Write orders",
                            "crm.objects.quotes.read": "Quotes",
                            "crm.objects.services.read": "Read services",
                            "crm.objects.orders.read": "Read Orders",
                            "crm.objects.contacts.read": " ",
                            "crm.objects.listings.read": "Read listings",
                            "crm.objects.carts.write": "Write cart",
                            "crm.objects.courses.write": "Write courses",
                            "crm.objects.quotes.write": "Quotes",
                            "crm.objects.users.read": "Read User CRM objects",
                            "crm.objects.companies.read": " ",
                            "crm.objects.appointments.read": "Read appointments",
                            "crm.objects.partner-clients.write": "Modify Partner Client CRM objects",
                            "crm.objects.leads.read": "Read lead objects",
                            "crm.objects.appointments.write": "Write appointments",
                            "crm.objects.services.write": "Write services",
                            "crm.objects.line_items.read": "Line Items",
                            "crm.objects.courses.read": "Read courses",
                            "crm.objects.deals.read": " ",
                            "crm.objects.invoices.read": "Read invoices objects",
                            "crm.objects.partner-clients.read": "View Partner Client CRM objects",
                            "crm.objects.deals.write": " ",
                            "crm.objects.line_items.write": "Line Items",
                            "crm.objects.listings.write": "Write listings"
                        }
                    }
                }
            },
            "private_apps_legacy": {
                "type": "apiKey",
                "name": "private-app-legacy",
                "in": "header",
                "x-ballerina-name": "privateAppLegacy"
            },
            "private_apps": {
                "type": "apiKey",
                "name": "private-app",
                "in": "header",
                "x-ballerina-name": "privateApp"
            }
        }
    }
}